---
title: Books
js: books/index.js
---

<!DOCTYPE html>
<html>

{% include head.html %}


<body id="page-top" class="index">

{% include nav.html %}

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">专为量化投资爱好者打造的podcast</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>November 2015</h4>
                                <h4 class="subheading">开始筹办</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">受BetterSystemTrader的启发,决定开一档普及量化投资知识的播客</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2016</h4>
                                <h4 class="subheading">首期节目制作完成</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">首期节目录制并制作完成!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
{% include js.html %}

</body>
</html>
